$primary: rgb(88,36,36);
$body-bg: rgb(235, 228, 214);
$secondary: white;

.full-heart,
.empty-heart {
    width: 1.8em;
    height: auto;
    position: absolute;
    right: 1em;
    
}

path{
   fill: $primary;
}
.card-header{
    position: relative;
    height: 3em;
}
